@import url(https://fonts.googleapis.com/css?family=Roboto|Fondamento:400italic);
* {
font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto";
  font-size: 62.5%;
  text-align: left;
  margin: 0; 
}

ul {
  padding: 0;
}

span {
  display: inline-flex;
  font-family: "Fondamento";
  font-size: 1.8rem;
  background-color: green;
  width: 100%;
}

/***li default***/
li {
  list-style: none;
}

/***Navigation***/
  /*<nav> should have a flexible inline display*/
nav {
  font-size: 1.4rem;
  width: auto;
  text-align: center;
  background-color: orange;
  margin: 0;
  /*<nav> ought to be sticky.*/
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-flex;
  border: 1px solid red;
}

/***Options***/
#options-bar {
  display: inline-flex;
  font-size: 1.2rem;
  margin: 0;
  border: 2px dotted red;
  width: 100%;
}

#options-bar > li {
  display: inline-block;
  font-size: 1.0rem;
  color: black;
  padding: 1rem;
  border: 2px solid blue;
  width: 100%;
}

#options-bar > li > ul li {
  font-size: 0.8rem;
  list-style-type: square;
  color: yellow;
}

/***Table***/
#table {
  font-size: 1.6rem;
  border: 2px solid green;
}
#table > ul {
  display: inline-flex;
  text-align: center;
  width: 100%;
  }

#table > ul > li {
  text-align: center;
  padding: 1rem;
  width: 100%;
}
