doctype
html lang="en"
head
  meta(charset="utf-8" lang="eng")
  title Landing Page
  link(rel="stylesheet" href="css/main.css")
body
  span Ranook
  nav
    ul
      li
        a(href="index.html" id="home") Home
      li
        a(href="table.html" id="Table") Table
      li
        a(href="catalog.html" id="Catalog") Catalog
    p Here is some content
block content
