extends ./layout.pug
block content
    div Here is the index or home page...
    div Have you even been walking along the path when suddenly something happens that you didn't expect, or had little or no premonition such a thing could possibly happen, and being baffled by the thing, resort to some stupidity that is out of context and unlike your typical responses?
    block content
