doctype
html(lang="en")
  head
    meta(charset="utf-8" lang="eng")
    title Ranook
    link(rel="stylesheet" href="css/main.css")
  body
    span Ranook
    nav
      ul
        li
          a(href="index" id="home") Home
        li
          a(href="table" id="table") Table
        li
          a(href="catalog" id="catalog") Catalog
    p
    block content
