doctype
html lang="en"
head
  meta(charset="utf-8" lang="eng")
  title Landing Page.
  link(rel="stylesheet" href="css/main.css")
body
  span Ranook.
  nav
    ul
      li
        a(href="index.html" id="home") Home.
      li
        a(href="index.html" id="table") Table.
      li
        a(href="catalog.html" id="catalog") Catalog.
  p
    block content
